RaspberryPi Node-RED/Send Picture.json
[{
    "id": "4b07c261.fc0b14",
    "type": "cloudant",
    "host": "<your-bluemix-cloudant-url>",
    "name": "Bluemix Cloudant"
}, {
    "id": "6a6a7c6e.959584",
    "type": "ibmiot",
    "name": "myPi"
}, {
    "id": "4f831f76.b07ce",
    "type": "ibmiot in",
    "authentication": "apiKey",
    "apiKey": "6a6a7c6e.959584",
    "inputType": "cmd",
    "deviceId": "<your-IoT-deviceId>",
    "applicationId": "",
    "deviceType": "myPi",
    "eventType": "",
    "commandType": "sendPicture",
    "format": "json",
    "name": "IBM IoT App In",
    "service": "registered",
    "allDevices": "",
    "allApplications": "",
    "allDeviceTypes": "",
    "allEvents": "",
    "allCommands": "",
    "allFormats": "",
    "x": 87.5,
    "y": 93,
    "z": "6f8a417c.9075c",
    "wires": [
        ["de238662.21dc78", "d17980b2.2e868", "9064a250.6f9b6"]
    ]
}, {
    "id": "71d0e571.8e2f1c",
    "type": "debug",
    "name": "execOut",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 597,
    "y": 157,
    "z": "6f8a417c.9075c",
    "wires": []
}, {
    "id": "3df8df4.fc2072",
    "type": "exec",
    "command": "base64",
    "addpay": true,
    "append": "",
    "useSpawn": "",
    "name": "Base64 encode",
    "x": 441,
    "y": 217,
    "z": "6f8a417c.9075c",
    "wires": [
        ["71d0e571.8e2f1c", "9064a250.6f9b6"],
        [],
        []
    ]
}, {
    "id": "de238662.21dc78",
    "type": "debug",
    "name": "input",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 296,
    "y": 47,
    "z": "6f8a417c.9075c",
    "wires": []
}, {
    "id": "a43477a4.5bcb88",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 587,
    "y": 328,
    "z": "6f8a417c.9075c",
    "wires": []
}, {
    "id": "9064a250.6f9b6",
    "type": "function",
    "name": "createJSON",
    "func": "// Creates a return payload that includes the filename, length and \n// base-64 value of the image file. \ncontext.fileName = context.fileName || null; \ncontext.value = context.value || null; \ncontext.prefixStr = \"data:image/png;base64,\";\n\nif (msg.topic && msg.topic == \"fileValue\") {\n    context.value = msg.payload;\n} else {\n    context.fileName = msg.payload.fileName;\n}\n\nif (context.fileName === null || context.value === null) {\n    return null;\n} else {\n    var newMsg = {\n        fileName : context.fileName,\n        len            : context.value.length + context.prefixStr.length,\n        value        : context.prefixStr + context.value,\n        status       : \"success\"\n    }\n\n    if ( newMsg.len == context.prefixStr.length) {\n        // Most likely because file wasn't found\n        newMsg.status = \"File not found\";\n    }\n\n    context.fileName = null;\n    context.value = null;\n\n    return {payload : newMsg};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 411,
    "y": 413,
    "z": "6f8a417c.9075c",
    "wires": [
        ["a43477a4.5bcb88", "74f84ea8.d00c78"]
    ]
}, {
    "id": "d17980b2.2e868",
    "type": "function",
    "name": "recover fileName",
    "func": "var newMsg = {\n    payload : msg.payload.fileName,\n    topic : \"fileValue\"\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 311,
    "y": 137,
    "z": "6f8a417c.9075c",
    "wires": [
        ["3df8df4.fc2072"]
    ]
}, {
    "id": "74f84ea8.d00c78",
    "type": "cloudant out",
    "service": "_ext_",
    "cloudant": "4b07c261.fc0b14",
    "name": "insertPicture",
    "database": "pictures",
    "payonly": false,
    "operation": "insert",
    "x": 698,
    "y": 471,
    "z": "6f8a417c.9075c",
    "wires": []
}]