RaspberryPi_Node-RED/ProcessDoorbellDeux.json
[{
    "id": "870aa947.735068",
    "type": "cloudant",
    "host": "f80b1a25-fe5b-4fd9-9e23-bef3cbb5e09e-bluemix.cloudant.com",
    "name": "Doorbell-DWS"
}, {
    "id": "8b8ce250.b7eb68",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 306,
    "y": 186,
    "z": "bf26db1a.dde548",
    "wires": [["6f167fc4.844308"]]
}, {
    "id": "63563fcc.2f5268",
    "type": "ibmpush",
    "name": "push doorbell",
    "ApplicationID": "d8a7d26e-0d05-43ac-af8b-7febad40dee4",
    "badge": "",
    "category": "doorbell",
    "iosActionKey": "",
    "payload": "",
    "sound": "Doorbell.caf",
    "iOStype": "dflt",
    "collapseKey": "",
    "delayWhileIdle": "",
    "GCMpayload": "",
    "priority": "",
    "GCMsound": "",
    "TTL": "",
    "identifiers": "",
    "notification": "ios",
    "x": 774,
    "y": 386,
    "z": "bf26db1a.dde548",
    "wires": []
}, {
    "id": "5c849122.7c6eb",
    "type": "change",
    "name": "Set alert message",
    "rules": [{
        "t": "set",
        "p": "payload",
        "to": "Someone is at the door!  Would you like to see who it is?"
    }, {
        "t": "set",
        "p": "settings.apns.payload",
        "to": "msg.filedate"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 389,
    "z": "bf26db1a.dde548",
    "wires": [["63563fcc.2f5268", "bb270836.f23998"]]
}, {
    "id": "bb270836.f23998",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 751,
    "y": 346,
    "z": "bf26db1a.dde548",
    "wires": []
}, {
    "id": "95df5a57.602c98",
    "type": "rpi-gpio in",
    "name": "Selfie Stick - Pin 13",
    "pin": "13",
    "intype": "down",
    "read": false,
    "x": 124,
    "y": 243,
    "z": "bf26db1a.dde548",
    "wires": [["83ca5358.defb98"]]
}, {
    "id": "6025896d.5f6c8",
    "type": "cloudant out",
    "service": "_ext_",
    "cloudant": "870aa947.735068",
    "name": "",
    "database": "pictures",
    "payonly": false,
    "operation": "insert",
    "x": 946,
    "y": 459,
    "z": "bf26db1a.dde548",
    "wires": []
}, {
    "id": "6f167fc4.844308",
    "type": "function",
    "name": "Take Picture",
    "func": "    var encoding = \"png\";\n    var currDate = new Date()\n    var currTime = currDate.getTime();\n    // Use the current timestamp to ensure\n    // the picture filename is unique.\n    var pictureFilename = \"/home/pi/pictures/\" + currTime + \".\" + encoding;\n    var opts = {\n        mode: \"photo\",\n        encoding: encoding, \n        quality: 75,\n        width: 400,\n        height: 400,\n        output: pictureFilename,\n        timeout: 1000\n    };\n    // Use the global RaspiCam to create a camera object.\n    var camera = new context.global.RaspiCam( opts );\n\n    // Take a picture\n    var process_id = camera.start( opts );\n\n    return {payload: pictureFilename,\n            filename: pictureFilename,\n            filedate: currTime};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 468,
    "y": 243,
    "z": "bf26db1a.dde548",
    "wires": [["1bfddbe3.7c93ec", "ef4b5143.05df28"]]
}, {
    "id": "2ed8e2d2.8bfa46",
    "type": "exec",
    "command": "base64 -w0",
    "addpay": true,
    "append": "",
    "useSpawn": "",
    "name": "Base64 encode",
    "x": 461,
    "y": 471,
    "z": "bf26db1a.dde548",
    "wires": [["4185fbc7.d5df34"], [], []]
}, {
    "id": "1bfddbe3.7c93ec",
    "type": "delay",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 141,
    "y": 423,
    "z": "bf26db1a.dde548",
    "wires": [["2ed8e2d2.8bfa46", "5c849122.7c6eb"]]
}, {
    "id": "5aaa207c.2e5438",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 959,
    "y": 413,
    "z": "bf26db1a.dde548",
    "wires": []
}, {
    "id": "ef4b5143.05df28",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 628,
    "y": 201,
    "z": "bf26db1a.dde548",
    "wires": []
}, {
    "id": "4185fbc7.d5df34",
    "type": "function",
    "name": "format document",
    "func": "msg._id = msg.filedate.toString();\ndelete msg.filename;\ndelete msg.filedate;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 766,
    "y": 458,
    "z": "bf26db1a.dde548",
    "wires": [["5aaa207c.2e5438", "6025896d.5f6c8"]]
}, {
    "id": "83ca5358.defb98",
    "type": "switch",
    "name": "Button down",
    "property": "payload",
    "rules": [{
        "t": "neq",
        "v": "0"
    }],
    "checkall": "true",
    "outputs": 1,
    "x": 305,
    "y": 243,
    "z": "bf26db1a.dde548",
    "wires": [["6f167fc4.844308"]]
}]
