RaspberryPi_Node-RED/ProcessDoorbell.json
[{
    "id": "3c4235dd.25f24a",
    "type": "rpi-gpio in",
    "name": "Doorbell - Pin 12",
    "pin": "12",
    "intype": "down",
    "read": false,
    "x": 112,
    "y": 182,
    "z": "59f2bf26.e1833",
    "wires": [["59611a29.5e437c", "d5c0e032.85d038"]]
}, {
    "id": "636d47af.606cf8",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 574,
    "y": 128,
    "z": "59f2bf26.e1833",
    "wires": []
}, {
    "id": "db013ad9.fe0b88",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 129,
    "y": 240,
    "z": "59f2bf26.e1833",
    "wires": [["59611a29.5e437c", "d5c0e032.85d038"]]
}, {
    "id": "2cab37fc.061fa",
    "type": "rpi-gpio out",
    "name": "",
    "pin": "22",
    "set": "",
    "level": "0",
    "out": "out",
    "x": 602,
    "y": 241,
    "z": "59f2bf26.e1833",
    "wires": []
}, {
    "id": "59611a29.5e437c",
    "type": "trigger",
    "op1": "1",
    "op2": "0",
    "op1type": "val",
    "op2type": "val",
    "duration": "2",
    "extend": false,
    "units": "s",
    "name": "pulse 2 sec",
    "x": 408,
    "y": 241,
    "z": "59f2bf26.e1833",
    "wires": [["2cab37fc.061fa"]]
}, {
    "id": "d5c0e032.85d038",
    "type": "function",
    "name": "send notification",
    "func": "// We only want to take pictures when\n// the button is pressed, not when it is released.\nif (msg.payload !== 0) {\n    var newmsg = {};\n    newmsg.method  = \"POST\";\n    newmsg.url     = \"https://mobile.ng.bluemix.net/imfpush/v1/apps/your-appID-here/messages\";\n    newmsg.headers = { \"appSecret\" : \"your-app-secret-here\" };\n    newmsg.payload = {\n\t    \"message\" : {\n\t        \"alert\" : \"Someone is at the door!  \" + \n\t\t            \"Would you like to see who it is?\"\n\t    },\n\t    \"settings\" : {\n\t\t    \"apns\"   : {\n\t\t\t    \"sound\"    : \"Doorbell.caf\",\n\t\t\t    \"category\" : \"doorbell\"\n\t        }\n\t    },\n        \"target\" : {\n\t\t    \"platforms\" : ['A']\n\t\t    }\n    };\n  \n    return newmsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 182,
    "z": "59f2bf26.e1833",
    "wires": [["636d47af.606cf8", "12f99bd7.8b151c"]]
}, {
    "id": "12f99bd7.8b151c",
    "type": "http request",
    "name": "push",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 598,
    "y": 182,
    "z": "59f2bf26.e1833",
    "wires": [["55114177.36b5a"]]
}, {
    "id": "55114177.36b5a",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 786,
    "y": 131,
    "z": "59f2bf26.e1833",
    "wires": []
}, {
    "id": "4fe031a9.cd9eb8",
    "type": "rpi-gpio in",
    "name": "Motion Detector - Pin 35",
    "pin": "35",
    "intype": "down",
    "read": false,
    "x": 113,
    "y": 102,
    "z": "59f2bf26.e1833",
    "wires": [[]]
}]
