RaspberryPi_Node-RED/RaspicamControl.json
[{
    "id": "683f39fd.a88d98",
    "type": "ibmiot",
    "name": "myPi"
}, {
    "id": "fa2dc60.505d638",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 104,
    "y": 135,
    "z": "dd9eb7fe.afd33",
    "wires": [["823b7aa3.f0223"]]
}, {
    "id": "fcc35955.e58b8",
    "type": "ibmiot out",
    "authentication": "apiKey",
    "apiKey": "683f39fd.a88d98",
    "outputType": "evt",
    "deviceId": "b827eb91d2ed",
    "deviceType": "myPi",
    "eventCommandType": "streamStarted",
    "format": "json",
    "data": "Message.payload",
    "name": "streamStarted",
    "service": "registered",
    "x": 851,
    "y": 258,
    "z": "dd9eb7fe.afd33",
    "wires": []
}, {
    "id": "1eba23d1.a74bcc",
    "type": "ibmiot in",
    "authentication": "apiKey",
    "apiKey": "683f39fd.a88d98",
    "inputType": "cmd",
    "deviceId": "b827eb91d2ed",
    "applicationId": "",
    "deviceType": "myPi",
    "eventType": "startStream",
    "commandType": "startStream",
    "format": "json",
    "name": "startStream",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": "",
    "allCommands": false,
    "allFormats": false,
    "x": 92,
    "y": 95,
    "z": "dd9eb7fe.afd33",
    "wires": [["afaab538.d4ff", "823b7aa3.f0223"]]
}, {
    "id": "110dc945.8828a7",
    "type": "exec",
    "command": "/home/pi/bin/startraspivid.sh",
    "addpay": false,
    "append": "",
    "useSpawn": false,
    "name": "start raspivid",
    "x": 391,
    "y": 154,
    "z": "dd9eb7fe.afd33",
    "wires": [["bbc84e37.654e8"], [], []]
}, {
    "id": "8fcdf3cd.4c88a",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 847,
    "y": 214,
    "z": "dd9eb7fe.afd33",
    "wires": []
}, {
    "id": "b2760d7b.f36318",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 102,
    "y": 398,
    "z": "dd9eb7fe.afd33",
    "wires": [["7c017403.296d2c"]]
}, {
    "id": "6bf66924.f3c778",
    "type": "ibmiot in",
    "authentication": "apiKey",
    "apiKey": "683f39fd.a88d98",
    "inputType": "cmd",
    "deviceId": "b827eb91d2ed",
    "applicationId": "",
    "deviceType": "myPi",
    "eventType": "stopStream",
    "commandType": "stopStream",
    "format": "json",
    "name": "stopStream",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": "",
    "allCommands": "",
    "allFormats": "",
    "x": 89,
    "y": 353,
    "z": "dd9eb7fe.afd33",
    "wires": [["7c017403.296d2c"]]
}, {
    "id": "7c017403.296d2c",
    "type": "exec",
    "command": "/home/pi/bin/stopstream.sh",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "name": "Stop stream",
    "x": 268,
    "y": 353,
    "z": "dd9eb7fe.afd33",
    "wires": [["85300aea.eb724"], [], []]
}, {
    "id": "822457d5.8cb5d8",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 650,
    "y": 380,
    "z": "dd9eb7fe.afd33",
    "wires": []
}, {
    "id": "bbc84e37.654e8",
    "type": "exec",
    "command": "/home/pi/bin/startvlc.sh",
    "addpay": false,
    "append": "",
    "useSpawn": false,
    "name": "start vlc",
    "x": 531,
    "y": 204,
    "z": "dd9eb7fe.afd33",
    "wires": [[], ["cdd74784.9e1978"], []]
}, {
    "id": "823b7aa3.f0223",
    "type": "exec",
    "command": "mkfifo",
    "addpay": false,
    "append": "/home/pi/vidstream",
    "useSpawn": "",
    "name": "",
    "x": 265,
    "y": 94,
    "z": "dd9eb7fe.afd33",
    "wires": [["110dc945.8828a7"], [], []]
}, {
    "id": "cdd74784.9e1978",
    "type": "function",
    "name": "get IP Address",
    "func": "var ifaces = context.global.os.networkInterfaces();\nvar address = \"\";\n\nObject.keys(ifaces).forEach(function (ifname) {\n\n  ifaces[ifname].forEach(function (iface) {\n    if ('IPv4' !== iface.family || iface.internal !== false) {\n      // skip over internal (i.e. 127.0.0.1) and non-ipv4 addresses\n      return;\n    }\n\n    address += iface.address;\n  });\n});\n\nmsg.payload = JSON.stringify({\"piIpAddress\": address});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 652,
    "y": 259,
    "z": "dd9eb7fe.afd33",
    "wires": [["fcc35955.e58b8", "8fcdf3cd.4c88a"]]
}, {
    "id": "afaab538.d4ff",
    "type": "debug",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 262,
    "y": 44,
    "z": "dd9eb7fe.afd33",
    "wires": []
}, {
    "id": "838c830a.5d86f8",
    "type": "ibmiot out",
    "authentication": "apiKey",
    "apiKey": "683f39fd.a88d98",
    "outputType": "evt",
    "deviceId": "b827eb91d2ed",
    "deviceType": "myPi",
    "eventCommandType": "streamStopped",
    "format": "json",
    "data": "Message.payload",
    "name": "streamStopped",
    "service": "registered",
    "x": 658,
    "y": 425,
    "z": "dd9eb7fe.afd33",
    "wires": []
}, {
    "id": "85300aea.eb724",
    "type": "function",
    "name": "format Message",
    "func": "\nvar temp = msg.payload.replace(/vlc killed \\(pid /g, \"{\\\"vlcpid\\\": \");\ntemp = temp.replace(/raspivid killed \\(pid/g, \"{\\\"raspividpid\\\": \");\ntemp = temp.replace(/\\)/g, \"}, \");\ntemp = temp.substring(0,temp.length-3);\ntemp = '{\\\"killed\\\": [' + temp + ']}';\n\nmsg.payload = JSON.stringify(JSON.parse(temp));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 429,
    "y": 424,
    "z": "dd9eb7fe.afd33",
    "wires": [["838c830a.5d86f8", "822457d5.8cb5d8"]]
}]
