RaspberryPi_Node-RED/TakePicture.json
[{
    "id": "683f39fd.a88d98",
    "type": "ibmiot",
    "name": "myPi"
}, {
    "id": "b8a985a9.d74368",
    "type": "ibmiot in",
    "authentication": "apiKey",
    "apiKey": "683f39fd.a88d98",
    "inputType": "cmd",
    "deviceId": "b827eb91d2ed",
    "applicationId": "",
    "deviceType": "myPi",
    "eventType": "startStream",
    "commandType": "takePicture",
    "format": "json",
    "name": "takePicture",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": "",
    "allCommands": false,
    "allFormats": false,
    "x": 104,
    "y": 94,
    "z": "3c209575.6026c2",
    "wires": [["a526096d.6ca4f", "d4572b7c.b5ac3"]]
}, {
    "id": "a526096d.6ca4f",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 245,
    "y": 50,
    "z": "3c209575.6026c2",
    "wires": []
}, {
    "id": "4ea43c28.539234",
    "type": "ibmiot out",
    "authentication": "apiKey",
    "apiKey": "683f39fd.a88d98",
    "outputType": "evt",
    "deviceId": "b827eb91d2ed",
    "deviceType": "myPi",
    "eventCommandType": "pictureTaken",
    "format": "json",
    "data": "Message.payload",
    "name": "pictureTaken",
    "service": "registered",
    "x": 759,
    "y": 220,
    "z": "3c209575.6026c2",
    "wires": []
}, {
    "id": "d4572b7c.b5ac3",
    "type": "function",
    "name": "Take Picture",
    "func": "    var encoding = \"png\";\n    var currDate = new Date()\n    var currTime = currDate.getTime();\n    // Use the current timestamp to ensure\n    // the picture filename is unique.\n    var pictureFilename = \"/home/pi/pictures/\" + currTime + \".\" + encoding;\n    var opts = {\n        mode: \"photo\",\n        encoding: encoding, \n        quality: 75,\n        width: 400,\n        height: 400,\n        output: pictureFilename,\n        timeout: 1000\n    };\n    // Use the global RaspiCam to create a camera object.\n    var camera = new context.global.RaspiCam( opts );\n\n    // Take a picture\n    var process_id = camera.start( opts );\n\n    return {payload: pictureFilename,\n            filename: pictureFilename,\n            filedate: currTime};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 266,
    "y": 94,
    "z": "3c209575.6026c2",
    "wires": [["b2df079e.391df8", "d7e7abc9.063bb"]]
}, {
    "id": "d3c0510f.c160a8",
    "type": "exec",
    "command": "base64 -w0",
    "addpay": true,
    "append": "",
    "useSpawn": "",
    "name": "Base64 encode",
    "x": 294,
    "y": 246,
    "z": "3c209575.6026c2",
    "wires": [["d8c60f61.02ef6"], [], []]
}, {
    "id": "d8c60f61.02ef6",
    "type": "function",
    "name": "splitIntoPackets",
    "func": "packet_size = 3000;\n\nvar picId = msg.filename;\nvar picDate = msg.filedate;\nvar encoded = msg.payload;\nvar len = encoded.length;\nvar no_of_packets = Math.ceil(len/packet_size);\n\nvar pos = 0;\nvar start = 0;\nvar end = packet_size;\nvar outputMsgs = [];\n\nwhile (start <= len) {\n    data = {\n        \"data\": encoded.substring(start,end), \n        \"pic_id\":picId,\n        \"pic_date\" : picDate,\n        \"pos\": pos, \n        \"size\": no_of_packets};\n \n    outputMsgs.push({payload:JSON.stringify(data)});\n \n    end += packet_size;\n    start += packet_size;\n    pos = pos + 1;\n}\n \n return [outputMsgs, {payload: picId}, {payload: no_of_packets}];",
    "outputs": "3",
    "noerr": 0,
    "x": 516,
    "y": 233,
    "z": "3c209575.6026c2",
    "wires": [["4ea43c28.539234", "99592a4b.875808"], ["1f9d9382.d6d164"], ["9c0aed24.a1e54"]]
}, {
    "id": "c91d68b8.ca918",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 103,
    "y": 142,
    "z": "3c209575.6026c2",
    "wires": [["d4572b7c.b5ac3"]]
}, {
    "id": "b2df079e.391df8",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 449,
    "y": 50,
    "z": "3c209575.6026c2",
    "wires": []
}, {
    "id": "d7e7abc9.063bb",
    "type": "delay",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 437,
    "y": 94,
    "z": "3c209575.6026c2",
    "wires": [["d3c0510f.c160a8"]]
}, {
    "id": "9c0aed24.a1e54",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 758,
    "y": 307,
    "z": "3c209575.6026c2",
    "wires": []
}, {
    "id": "1f9d9382.d6d164",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 757,
    "y": 260,
    "z": "3c209575.6026c2",
    "wires": []
}, {
    "id": "99592a4b.875808",
    "type": "debug",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 760,
    "y": 179,
    "z": "3c209575.6026c2",
    "wires": []
}]
